<?xml version='1.0' encoding='utf-8'?>
<!-- coldblock_plate_holder: CAD mesh (meters), cuboid axis-aligned, rests on Z=0 (-X/-Y/+Z octant). -->
<robot name="coldblock_wellplate_holder">
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="body" />
    <origin rpy="0 0 0" xyz="0 0 0" />
  </joint>
  <link name="body">
    <visual><geometry><mesh filename="coldblock_plate_holder.obj" /></geometry></visual>
    <collision><geometry><mesh filename="coldblock_plate_holder.obj" /></geometry></collision>
  </link>
</robot>
