<?xml version='1.0' encoding='utf-8'?>
<robot name="coldblock_small">
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="body" />
    <origin rpy="0 0 0" xyz="0 0 0" />
  </joint>
  <link name="body">
    <visual>
      <geometry><mesh filename="coldblock_small.obj" /></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="coldblock_small.obj" /></geometry>
    </collision>
  </link>
</robot>
